---

---

@import "reset";
@import "layout";

.header h1 {
    font-size: 1.1em;
}

.header a {
    text-decoration: none;
}

.nav a {
    text-decoration: none;
}

.nav a.current {
    color: #000;
    text-decoration: underline;
    cursor: default;
}

.nav a.current:hover {
    color: #000;
}